<h1>Upload Product</h1>
<div>
    <form action="/upload" method="POST">
    Item name: <input type="text" name="item_name" id="item_name" /><br><br>
    Item Type:<input type="text" name="item_type" id="item_type"/><br><br>
    Description:<input type="text" name="item_description" id="item_description"/><br><br>
    Expected Exchange: <input type="text" name="expected_exchange" id="expected_exchange"/><br><br>
    <input type="submit" name="submit" id="submit" value="Upload"/>
    </form>
</div>