.profile-main {
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	width: 80%;
}

.req-excng,
.ofrd-excng {
	height: 200px;
	width: 100%;
	background-color: bisque;
}
.req-excng::after,
.ofrd-excng::after {
	text-indent: "+";
}
