.post-main {
	margin: 0 auto;
	display: flex;
	padding: 3rem;
	align-items: center;
	justify-content: start;
	width: max-content;
	margin: 1rem auto;
	background-color: #d3d3d350;
	border-radius: 3px;
}

.post-photo {
	height: 400px;
	width: 400px;
	border: 1px solid black;
	margin: 1rem;
}

.post-details {
	padding: 1rem;
	width: max-content;
	display: flex;
	flex-flow: column;
	margin: 1rem;
	border-radius: 3px;
	height: max-content;
	background-color: #e63946;
}

.post-details h1,
h2 {
	font-family: Poppins;
	padding: 0.5rem 1rem;
	color: #023047;
}

.item-desc,
.item-type,
.item-date,
.item-loc,
.item-expexc {
	font-family: Raleway;
	font-size: 16px;
	padding: 0rem 1rem;
	max-width: 300px;
}
.item-desc {
}
.item-type {
}
.item-date {
}
.item-expexc {
}

.contact-msg {
	font-family: Poppins;
	font-size: 14px;
	border: 1px solid transparent;
	padding: 1rem 3rem;
	margin: 1rem auto;
	width: max-content;
}
.contacts-main h1,
h3 {
	font-family: Poppins;
	padding: 0.5rem 1rem;
}
.contacts-main {
	position: relative;
	padding: 3rem;
	text-align: center;
	border-radius: 5px;
	background-color: #457b9d;
}
.contact-details {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80%;
	width: 100%;

	backdrop-filter: blur(5px);
}
.cross {
	position: absolute;
	right: 0;
	outline: none;
	transform: rotateZ(45deg);
	top: 0;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	font-size: 2rem;
	cursor: pointer;
	border: none;
	background-color: #457b9d;
}
.hide {
	display: none;
	z-index: -1;
}
