.toolbar {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: Raleway, sans-serif;
	padding: 5px 50px;
	color: rgb(0, 0, 0);
	background-color: #03658c;
}

.search-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 25px;
	padding: 2px 0px;
	border-radius: 30px;
	background-color: #f2f2f2;
}

.cata {
	/* color: white; */
	list-style-type: none;
	display: flex;
	width: 100%;
	font-size: 14px;
	justify-content: space-around;
	align-items: center;
	padding: 2px 15px;
}

.toolelem {
	border-radius: 5px;
	transition: 0.2s ease-out;
	padding: 5px 15px;
	font-weight: bold;
}

.toolelem:hover {
	cursor: pointer;
	background-color: #0cb1f2;
	/* color: #f2f2f2; */
}

.search {
	border: none;
	outline: none;
	background-color: #f2f2f2;
	font-size: 14px;
	margin: 5px;
	padding: 0 10px;
	font-family: Raleway, sans-serif;
}
.search-button {
	position: relative;
	border: none;
	outline: none;
	height: 30px;
	width: 30px;
	background: none;
	align-self: center;
	padding: 5px;
	border-radius: 50%;
	transition: 0.3s ease-in-out;
}

.search-button:hover {
	background: #05c7f28c;
}
